<%- layout("./layouts/boilerplate.ejs") %>

    <body>
        <div class="user-carts">
            <h1>Your Cart</h1>
            <% if (!cart || cart.length===0) {%>
                <p>Your cart is empty.</p>
                <% } else { %>
                    <% for (let item of cart) { %>
                        <div class="cart-container">
                            <div class="cart">
                                <img class="cart-img" width="200" src="<%= item.img %>" alt="">
                                <div class="cart-description">
                                <p><strong>
                                    <%= item.name %>
                                </strong></p>
                                    <p><%= item.brand %></p>
                                    <p><%= item.price %></p>
                                
                                <form action="/cart/update/<%= item._id %>" method="post">
                                    <input name="qty" type="number" min="1" onchange="this.form.submit()"
                                        value="<%= item.qty %>">
                                </form>

                                <form action="/remove-from-cart" method="post">
                                    <input name="productId" type="hidden" value="<%= item._id %>">
                                    <button class="cart-btn"><i type="submit" class="fa-solid fa-trash"></i></button>
                                </form>
                                </div>
                                
                            </div>
                        </div>
                        <% } %>


                            <% } %>

                        <div class="other-desc">
                                <p>Total Items : <%= parseInt(totalItems) %></p>
                                <p>Total Price : &#8377;<%= totalPrice %>
                                </p>
                                <button class="btn"><a href="/checkout">Proceed to Checkout</a></button>
                        </div>

        </div>
    </body>

    </html>